@charset "utf-8";

strong{
    border: 1px solid red;
}
ul > li {
    border: 1px solid blue;
}

input[type="text"]{
    border: 1px solid blue;
}

input[type="password"]{
    border: 1px solid red;
}

p.text1{
    border: 1px solid blue;
}

p.text2{
    border: 1px solid red;
}
#text3{
    border: 1px solid violet;
}

#title{
    color:bisque;
    background-color: rgb(127, 161, 255);
}